<section id="facts" class="facts-area dark-bg">
  <div class="container">
    <div class="facts-wrapper">
      <div class="row">
        <div class="col-md-3 col-sm-6 ts-facts">
          <div class="ts-facts-img">
            <img loading="lazy" src="assets/img/logo.png" alt="facts-img">
          </div>
          <div class="ts-facts-content">
            <h2 class="ts-facts-num">
              <span class="counter" [count]="330">0</span>
            </h2>
            <h3 class="ts-facts-title">Trabajos realizados</h3>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-sm-0">
          <div class="ts-facts-img">
            <img loading="lazy" src="assets/img/logo.png" alt="facts-img">
          </div>
          <div class="ts-facts-content">
            <h2 class="ts-facts-num">
              <span class="counter" [count]="24">0</span>
            </h2>
            <h3 class="ts-facts-title">Miembros en la empresa</h3>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-md-0">
          <div class="ts-facts-img">
            <img loading="lazy" src="assets/img/logo.png" alt="facts-img">
          </div>
          <div class="ts-facts-content">
            <h2 class="ts-facts-num">
              <span class="counter" [count]="3400">0</span>
            </h2>
            <h3 class="ts-facts-title">Horas de trabajo</h3>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-md-0">
          <div class="ts-facts-img">
            <img loading="lazy" src="assets/img/logo.png" alt="facts-img">
          </div>
          <div class="ts-facts-content">
            <h2 class="ts-facts-num">
              <span class="counter" [count]="330">0</span>
            </h2>
            <h3 class="ts-facts-title">Clientes Contentos</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>